* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

:root {
  color: white;
  background-color: #010101;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box-shadow-big {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.9);
}

.box-shadow-small {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.35);
}

.link-hover {
  transition: all ease-in-out 0.1s;
  &:hover {
    color: #2563eb; /* blue.600 */
  }
}

@keyframes spin-and-expand {
  0% {
    width: 600px;
    height: 500px;
    transform: rotate(0deg); /* Starting point of the rotation */
  }
  50% {
    width: 700px;
    height: 700px;
  }
  100% {
    width: 600px;
    height: 500px;
    transform: rotate(360deg); /* Ending point, a full circle */
  }
}

.spin-and-expand {
  animation-name: spin-and-expand;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background-gradient {
  background: -webkit-linear-gradient(45deg, #2563eb, #4ade80 60%); /* blue.600 to green.400 */
  opacity: 15%;
}

.text-gradient {
  background: -webkit-linear-gradient(45deg, #2563eb, #4ade80 60%); /* blue.600 to green.400 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}