* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

:root {
  color: white;
  background-color: #010101;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-hover {
  transition: all ease-in-out 0.1s;
  &:hover {
    color: #2563eb; /* blue.600 */
  }
}

/* Animations */

@keyframes spin-and-expand {
  0% {
    width: 600px;
    height: 500px;
    transform: rotate(0deg); /* Starting point of the rotation */
  }
  50% {
    width: 700px;
    height: 700px;
  }
  100% {
    width: 600px;
    height: 500px;
    transform: rotate(360deg); /* Ending point, a full circle */
  }
}

.spin-and-expand {
  animation: spin-and-expand 10s linear infinite;
}

@keyframes blinking-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-animation {
  -webkit-animation: blinking-animation 1.5s infinite; /* Safari/Chrome */
  -moz-animation: blinking-animation 1.5s infinite; /* Firefox */
  -o-animation: blinking-animation 1.5s infinite; /* Opera */
  animation: blinking-animation 1.5s infinite;
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  -webkit-animation: slide-up 0.5s ease-in-out forwards; /* Safari/Chrome */
  -moz-animation: slide-up 0.5s ease-in-out forwards; /* Firefox */
  -o-animation: slide-up 0.5s ease-in-out forwards; /* Opera */
  animation: slide-up 0.5s ease-in-out forwards;
}

/* Gradients */

.background-gradient {
  background: -webkit-linear-gradient(
    45deg,
    #2563eb,
    #4ade80 60%
  ); /* blue.600 to green.400 */
}

.text-gradient {
  background: -webkit-linear-gradient(
    45deg,
    #2563eb,
    #4ade80 60%
  ); /* blue.600 to green.400 */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Code block styles */
.code-color-1 {
  color: #2563eb; /* green.600 */
}

.code-color-2 {
  color: #fef08a; /* yellow.200 */
}

.code-color-3 {
  color: #a3cfff; /* blue.300 */
}

.code-color-4 {
  color: #f87171; /* red.400 */
}

.code-color-5 {
  color: #c084fc; /* purple.400 */
}
